<?php

// settings must be present and set appropriately for the language
$secret['slackToken'] = 'ENTER YOUR Slack invite Token 		   Example: XOXO-ddsf8dsfdh37s7fdsy9fd'; // See: https://get.slack.help/hc/en-us/articles/215770388
$secret['slackChannels'] = 'ENTER YOUR Slack Channels to autojoin Example: #general';
$secret['slackHostname'] = 'ENTER YOUR Slack Hostname 			   Example: thecoolskids';
$secret['recaptchaSitekey'] = 'ENTER YOUR Recaptcha Client Token (The Sitekey)   Example: 3L57Ddjd89sdf43njds'; // See: https://www.google.com/recaptcha/admin#list
$secret['recaptchaSecret'] = 'ENTER YOUR Recaptcha Server Token  (The Secret)  Example: 3L57Ddjd8d3ui09ans'; // See: https://www.google.com/recaptcha/admin#list
$secret['recaptchaV3'] = False; // v3 - invisible v2 - the check one 
$secret['cloudflareEnabled'] = False;
