<?php

// settings must be present and set appropriately for the language
$secrets['slackToken'] = 'ENTER YOUR Slack invite Token 		   Example: XOXO-ddsf8dsfdh37s7fdsy9fd';
$secrets['slackChannels'] = 'ENTER YOUR Slack Channels to autojoin Example: 'C04MB1CAH'';
$secrets['slackHostname'] = 'ENTER YOUR Slack Hostname 			   Example: thecoolskids';
$secrets['recaptchaClient'] = 'ENTER YOUR Recaptcha Client Token   Example: 3L57Ddjd89sdf43njds';
$secrets['recaptchaServer'] = 'ENTER YOUR Recaptcha Server Token   Example: 3L57Ddjd8d3ui09ans';

